@model Pook.Data.Entities.Book

@{
    ViewBag.Title = "UnBookmark";
}

<h2>UnBookmark</h2>

<h3>Are you sure you want to unbookmark this?</h3>
<div>
    @Html.Partial("_Details", @Model)

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="UnBookmark" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "List")
        </div>
    }
</div>
