@model List<Pook.Service.Models.Progressions.ProgressionSection>

@{
    ViewBag.Title = "Progressions By Book";
}

<h2>Progressions By Book</h2>

<div class="user-details">
    @foreach (var progressionSection in Model)
    {
        var sectionTitle = $"{progressionSection.Book} ({progressionSection.Progressions.Count})";
        <p>
            @Html.ActionLink(sectionTitle, "PageProgress", "Progression", new
            {
                userId = progressionSection.Progressions.First().UserId,
                bookId = progressionSection.BookId
            }, null)
        </p>
    }

</div>

