@model IList<Pook.Service.Models.Notes.NoteByBook>

@{
    ViewBag.Title = "Notes By Book";
}

<h2>Notes By Book</h2>

<div class="user-details">
    @foreach (var noteSection in Model)
    {
        var sectionTitle = $"{noteSection.Book} ({noteSection.Notes.Count})";
        <p>
            @Html.ActionLink(sectionTitle, "PageNote", "Note", new
            {
                userId = noteSection.Notes.First().UserId,
                bookId = noteSection.Notes.First().BookId
            }, null)
        </p>
    }
</div>

